<%= form_for(@user_history) do |f| %>
  <% if @user_history.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_history.errors.count, "error") %> prohibited this user_history from being saved:</h2>

      <ul>
      <% @user_history.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :long %><br />
    <%= f.text_field :long %>
  </div>
  <div class="field">
    <%= f.label :lat %><br />
    <%= f.text_field :lat %>
  </div>
  <div class="field">
    <%= f.label :mood %><br />
    <%= f.text_field :mood %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
