<p>User: <%= @user.name %></p>

<% if @user.auth_type == :facebook %>

  <%= image_tag @user.facebook['info']['image'], :title => @user.facebook['info']['name'], :class => "facebook" %>

  <p>
  <%= @user.facebook_info['location']['name'] %><br />
  <%= @user.facebook_info['location']['id'] %>
  </p>

  <pre>Location ID: <%= @user.facebook_info['location']['id'] %></pre>
  <pre><%= @user.facebook %></pre>

<% end %>

<% if @user.auth_type == :foursquare %>

You are logged in with <strong>foursquare</strong>

<% end %>

<div class='container'>
  <p>User: <%= @user.name %></p>
  <p>Based on your questions, your color is: <% @user.color %></p>
</div>
