<!DOCTYPE html>
<html>
<head>
  <title>Pulses</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCLQFXgORhr0h1alzYl1HUJAWRYGjJkClY&sensor=true"></script>

    <script type="text/javascript">
      var map;

      var marker;
      var pos;
      var user_data = <%= @users.to_json.to_s.html_safe %>;
      var infos = [];
      var blue_restaurant_image = new google.maps.MarkerImage('http://dl.dropbox.com/u/42883507/blue_restaurant.png',
      new google.maps.Size(32, 40),
      // This marker is 20 pixels wide by 32 pixels tall.
      // The origin for this image is 0,0.
      new google.maps.Point(0,0),
      // The anchor for this image is the base of the flagpole at 0,32.
      new google.maps.Point(0, 40));


  // Add markers to the map

  // Marker sizes are expressed as a Size of X,Y
  // where the origin of the image (0,0) is located
  // in the top left of the image.

  // Origins, anchor positions and coordinates of the marker
  // increase in the X direction to the right and in
  // the Y direction down.

      function initialize() {
        var myOptions = {
          zoom: 15,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map_canvas'),
            myOptions);
        // Try HTML5 geolocation
        if(navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
        pos = new google.maps.LatLng(position.coords.latitude,
                                             position.coords.longitude);
        marker = new google.maps.Marker({
        position: pos,
        map: map,
        title: 'Shri Bodas',
        icon: blue_restaurant_image
        });


        google.maps.event.addListener(marker, 'click', (function(marker) {
            return function() {
            closeInfos();
            var infowindow = new google.maps.InfoWindow();
            infowindow.setContent('Shri Bodas <br/> <a href="http://www.google.com" >Google</a>');
             infowindow.open(map, marker);
             infos[0] = infowindow; 
           }
         })(marker));
            map.setCenter(pos);

         for(var i=0; i < user_data.length; i++) {
             pos = new google.maps.LatLng(user_data[i].lat,
                                             user_data[i].long);
             marker = new google.maps.Marker({
                      position: pos,
                      map: map,
                      title: user_data[i].name,
                      icon: blue_restaurant_image
             });

             google.maps.event.addListener(marker, 'click', (function(marker) {
                 return function() {
             closeInfos();
            var infowindow = new google.maps.InfoWindow();
            infowindow.setContent(user_data[i].name + "<br/> <a href='" + user_data[i].facebook_username +"' >Facebook</a><br/> <a href='" + user_data[i].googleplus_username +"' >Google+</a><br/> <a href='" + user_data[i].twitter_username +"' >Twitter</a>");
             infowindow.open(map, marker);
             infos[0]=infowindow;
             }
         })(marker));
         }

          }, function() {
            handleNoGeolocation(true);
          });
        } else {
          // Browser doesn't support Geolocation
          handleNoGeolocation(false);
        }
        // Set up our GMarkerOptions object
  //      for(var i = 0; i < userdata.length; i++) {

//        }

      }

      function closeInfos(){
 
   if(infos.length > 0){
 
      /* detach the info-window from the marker */
      infos[0].set("marker",null);
 
      /* and close it */
      infos[0].close();
 
      /* blank the array */
      infos.length = 0;
   }
}
      function handleNoGeolocation(errorFlag) {
        if (errorFlag) {
          var content = 'Error: The Geolocation service failed.';
        } else {
          var content = 'Error: Your browser doesn\'t support geolocation.';
        }

        var options = {
          map: map,
          position: new google.maps.LatLng(60, 105),
          content: content
        };

        var infowindow = new google.maps.InfoWindow(options);
        map.setCenter(options.position);
      }

      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

</head>
<body>
  <div class="container">
    <%= render 'shared/header' %>
  </div>
  
  <div class="container">
    <div class="hero-unit">
        <h1>Pulses</h1>
        <p>
          How are you feeling today?
        </p>
        <% if user_signed_in? %>
          <a class="btn btn-primary btn-large" href="#test" id="test">Answer a Question</a>
        <% else %>
        <%= link_to "Answer a Question", new_user_session_path, { :class => "btn btn-primary btn-large" } %>
        <% end %>
    </div>
    
    <div class="question">
    </div>
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <%- end -%>
    <%= yield %>
  </div>
</body>
</html>
