<!DOCTYPE html>
<html>
<head>
  <title>Pulses</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render 'shared/header' %>
  </div>
  
  <div class="container">
    <div class="hero-unit">
        <h1>Pulses</h1>
        <p>
          How are you feeling today?
        </p>
        <% if user_signed_in? %>
          <a class="btn btn-primary btn-large" href="#test" id="test">Answer a Question</a>
        <% else %>
        <%= link_to "Answer a Question", new_user_session_path, { :class => "btn btn-primary btn-large" } %>
        <% end %>
    </div>
    
    <div class="question">
    </div>
    <%- flash.each do |name, msg| -%>
      <%= content_tag :div, msg, :id => "flash_#{name}" if msg.is_a?(String) %>
    <%- end -%>
    <%= yield %>
  </div>
</body>
</html>
